**Durante la clase de pair programming de ayer nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.**

In [ ]:
#Importamos el conector EN WINDOWS 
import mysql.connector

In [100]:
# Creamos nuestra BBDD mi_primerita_BBDD_Python

cnx = mysql.connector.connect(user='root', password='alumnaadalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute ("""CREATE DATABASE mi_primerita_BBDD_Python """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python..

In [95]:
#Creacion de funcion universal para añadir tablas a mi BBDD

def creacion_tablas (password, query):
    
    cnx = mysql.connector.connect(user='root', password= password,
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')
    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
        print("Tu tabla se ha creado con éxito")
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [105]:
#Creamos las Queries que queremos pasar a nuestra función, en este caso son nuestras tablas con sus columnas y sus respectivos atributos. 

cnx = mysql.connector.connect(user='root', password='alumnaadalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')

mycursor = cnx.cursor()
try:
    query_zapatillas =              ("""CREATE TABLE Zapatillas 
                                     (id_zapatilla INT AUTO_INCREMENT, 
                                     modelo VARCHAR(45) NOT NULL , 
                                     color VARCHAR(45) NOT NULL, 
                                     talla INT NOT NULL,
                                     PRIMARY KEY (id_zapatilla))""")   
    query_clientes =                ("""CREATE TABLE Clientes
                                     (id_cliente INT AUTO_INCREMENT,
                                     Nombre VARCHAR(45) NOT NULL, 
                                     Numero_telefono INT(9) NOT NULL,
                                     Email VARCHAR (45) NOT NULL,
                                     Direccion VARCHAR (45) NOT NULL,
                                     Ciudad VARCHAR (45) NOT NULL, 
                                     Pais VARCHAR (45) NOT NULL, 
                                     Codigo_postal INT (9) NOT NULL, 
                                     PRIMARY KEY (id_cliente))""")    
    query_empleados =               ("""CREATE TABLE Empleados
                                     (id_empleado INT AUTO_INCREMENT NOT NULL, 
                                     Nombre VARCHAR(45) NOT NULL, 
                                     Tienda VARCHAR (45) NOT NULL, 
                                     SALARIO FLOAT NOT NULL, 
                                     Fecha_incorporacion DATE NOT NULL, 
                                     PRIMARY KEY (id_empleado))""")
    query_facturas =                 ("""CREATE TABLE Facturas
                                    (id_factura INT AUTO_INCREMENT NOT NULL PRIMARY KEY, 
                                     id_empleado INT NOT NULL, 
                                     id_cliente INT NOT NULL,
                                     id_zapatilla INT NOT NULL,
                                    CONSTRAINT fk_facturas_zapatillas
                                        FOREIGN KEY (id_zapatilla)
                                        REFERENCES zapatillas (id_zapatilla),
                                    CONSTRAINT fk_facturas_clienteS
                                        FOREIGN KEY (id_cliente)
                                        REFERENCES clientes (id_cliente),
                                    CONSTRAINT fk_facturas_empleados
                                        FOREIGN KEY (id_empleado)
                                        REFERENCES empleados (id_empleado)) """)

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

AHORA LLAMAMOS A NUESTRA FUNCION CON CADA UNA DE LAS QUERIES DE MANERA INDEPENDIENTE PARA VERIFICAR QUE CADA TABLA SE HA CREADO CON ÉXITO

In [101]:
creacion_tablas('alumnaadalab', query_zapatillas)

CMySQLCursor: CREATE TABLE Zapatillas
               ..
Tu tabla se ha creado con éxito

In [102]:
creacion_tablas('alumnaadalab', query_clientes)

CMySQLCursor: CREATE TABLE Clientes
                  ..
Tu tabla se ha creado con éxito

In [103]:
creacion_tablas('alumnaadalab', query_empleados)

CMySQLCursor: CREATE TABLE Empleados
                 ..
Tu tabla se ha creado con éxito

In [106]:
creacion_tablas('alumnaadalab', query_facturas)

CMySQLCursor: CREATE TABLE Facturas
                  ..
Tu tabla se ha creado con éxito